html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#btnContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}

#imgContainer {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid blue; */
  width: 100%;
}

img {
  width: 200px;
  height: 200px;
  margin: 32px;
}

#scoreContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 32px;
  /* border: 1px solid black; */
}

span {
  font-size: 32px;
  font-weight: bold;
}

#selectionBtn {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* border: 1px solid purple; */
}

button {
  padding: 32px;
  border-radius: 8px;
}

#title {
  width: 100%;
  background-color: black;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 32px;
  color: white
}
