/* @font-face {
  font-family: "MyFont";
  src: url("./quicksand/Quicksand-Regular.otf") format("opentype");
  font-size: large;
} */

.hello {
  color: red;
  font-family: "MyFont", Arial, Helvetica, sans-serif;
  background: url("./icon.jpeg");
  font-size: 12rem;
}
