/* helper border */
/* .carousel-wrapper {
  border: 1px solid red;
}

.prev,
.img-container,
.next,
.pagination {
  border: 2px solid green;
} */

/* start */
.carousel-wrapper {
  width: 48rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 240px auto;

  align-items: center;
  justify-content: center;
}

.prev,
.next {
  width: 32px;
  height: 32px;
  border-radius: 100%;

  transition: transform 0.3s ease;
}

.carousel-wrapper button:active {
  transform: scale(0.9);
}

.carousel-wrapper button:hover {
  cursor: pointer;
}

.prev {
  background-image: url("./assets/arrow-left-drop-circle.svg");
  margin-right: 0.5rem;
}

.next {
  background-image: url("./assets/arrow-right-drop-circle.svg");
  margin-left: 0.5rem;
}

.img-container {
  width: 100%;
  height: 240px;

  background-size: cover;
  border-radius: 6px;
}

.pagination {
  grid-column: 2;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pagination-circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: black;
  opacity: 0.2;
}

.pagination-circle:hover {
  cursor: pointer;
}

.pagination-circle.active {
  opacity: 1;
}
