/* helper borders */
header,
#content {
  border: 1px solid red;
}

.info {
  border: 1px solid blue;
}

#content-wrapper {
  border: 1px solid purple;
}

* {
  --gap-med: 2rem;
  scrollbar-width: thin; /* "auto" or "thin"  */
  scrollbar-color: #88888826 transparent; /* thumb and track color */
}

/* start */
body {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-rows: 3.5rem 1fr;
  gap: var(--gap-med)
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  gap: var(--gap-med);
}

#content {
  display: flex;
  justify-content: center;
  padding: var(--gap-med);
  overflow-y: auto;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  height: fit-content;
}

.info {
  width: 80%;
  padding: var(--gap-med)
}

#title {
  text-align: center;
  font-size: 4rem;
  padding: 0;
}

